body {
    margin: 0;
    font-family: 'Croissant One', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(243, 237, 223);
}
  
code {
    font-family: 'Croissant One', cursive;
}

button {
    font-family: 'Croissant One', cursive;
}